/*@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Caveat&display=swap');*/

html,body{
    height: 100%;
/*    background: blue;*/
}

 #clock{
/*    background-color: blueviolet;*/
    color: #fff;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Caveat', cursive;
    font-size: 70px;
     
     position: relative;
     top: 50%;
     margin-top: -35px;
     text-align: center;
}
    








